@font-face {
    font-family: "delius";
    src: url(sources/Delius.ttf);
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url(images/background.avif) center /cover no-repeat;
    color: midnightblue;
    font-family: "delius";
}

:root {
    --border: 1px solid red;
    --couleurContainerSecondaire: rgb(248, 227, 227);

}

input {
    font-family: "delius", fantasy;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px;
    -webkit-box-shadow: 2px 2px 5px 1px;
    -moz-box-shadow: 5px 5px 5px 1px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 30px;
    width: 80%;
    text-align: center;
    background: linear-gradient(45deg, rgba(248, 227, 227, 0.9), rgba(25, 25, 112, 0.9));
    border:var(--border);
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.5) inset;
    -webkit-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.5) inset;
    -moz-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.5) inset;
}

.containerSecondaire {
    margin: auto;
    padding: 10px 20px;
    background: rgb(248, 227, 227);
    border: var(--border);
    border-radius: 10px;
    box-shadow: 5px 5px 8px 2px;
    -webkit-box-shadow: 5px 5px 8px 2px;
    -moz-box-shadow: 5px 5px 8px 2px;
}

#bienvenue {
    margin: 50px;
    padding: 30px;
    font-size: 2em;
    font-weight: bold;
}

#formulaire {
    margin: 50px;
    padding: 30px;
    font-size: 1.5em;;
}

#prenomUtilisateur {
    margin: 20px;
    font-size: 24px;
    background: whitesmoke;
}

#validerPrenom {
    margin: 20px;
    font-size: 1em;
}

.bouton {
    padding: 10px 15px;
    border-radius: 10px;
    border: var(--border);
    font-weight: bold;
    background: var(--couleurContainerSecondaire);
    color: midnightblue;
    font-family: "delius";
    box-shadow: 5px 5px 8px 2px;
    -webkit-box-shadow: 5px 5px 8px 2px;
    -moz-box-shadow: 5px 5px 8px 2px;
}

.bouton:active {
    box-shadow: 
        inset 5px 5px 5px rgba(248, 227, 227, 0.5);

    -webkit-box-shadow:
        inset 5px 5px 5px rgba(248, 227, 227, 0.5);

    -moz-box-shadow:  
        inset 5px 5px 5px rgba(248, 227, 227, 0.5);


}

.hover:hover, #recommencer:hover {
    cursor: pointer;
    background: midnightblue;
    color: whitesmoke;
}


#motCachePendu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#motCache {
    flex-grow: 1;
    text-align: center;
}

/* Lettres cachées */
.transparent{
    display: inline-block;
    text-align: center;
    color: transparent;
    user-select: none;
    border-bottom: 2px solid midnightblue;
    margin: 15px;
    width: 20px;
    font-size: 3em;
    transition: color 0.5s ease-in-out, border-bottom 0.5s ease-in-out;

}

/* Divs cachées */
.hidden {
    display: none;
}


#pendu img{
    height: 200px;
    border: var(--border);
    border-radius: 5px;
    box-shadow: 5px 5px 8px 2px;
    -webkit-box-shadow: 5px 5px 8px 2px;
    -moz-box-shadow: 5px 5px 8px 2px;
}


#inputSaisies {
    flex-grow: 0.7;
}

.inputSaisiesFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#containerSaisir {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 5px;
}

.saisieLettre, .saisieMot {
    padding: 5px;
}

#erreurSaisie {
    color:red;
}

#changerMot {
    flex-basis: 180px;
}

.saisiesTentativesChanger {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-top: 20px;
    gap: 20px;
}

#containerReponses {
    display: none;
    text-align: left;
    width: fit-content;
}

#regles {
    padding: 20px;
    text-align: justify;
    font-size: 1.5em;
    display: none;
    overflow: hidden;
}

#toggleSaisies {
    display: flex;
    justify-content: center;
    align-items: space-between;
}

#saisies {
    flex-grow: 1;
}

.toggleRegles {
    margin: 20px;
    width: 150px;
}

#finRegles {
    display: none;
    margin: 30px auto;
    font-size: 1.3em;
}

#copyright {
    margin-top: 10px;
    text-align: right;
    color: var(--couleurContainerSecondaire);
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50vw;
    height: 60vh;
    background: linear-gradient(45deg, var(--couleurContainerSecondaire), midnightblue);
    border:var(--border);
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.5) inset;
    -webkit-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.5) inset;
    -moz-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.5) inset;
}

#textePopup{
    padding: 20px;
    border: var(--border);
    border-radius: 10px;
    background: var(--couleurContainerSecondaire);
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    box-shadow: 5px 5px 8px 2px;
    -webkit-box-shadow: 5px 5px 8px 2px;
    -moz-box-shadow: 5px 5px 8px 2px;
}

#popup img {
    border: var(--border);
    border-radius: 5px;
    box-shadow: 5px 5px 8px 2px;
    -webkit-box-shadow: 5px 5px 8px 2px;
    -moz-box-shadow: 5px 5px 8px 2px;
}

#boutonRecommencer, #textePopup, #popup img {
    display: block;
    margin: 20px;
}

