html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background: url(images/background.avif) center /cover no-repeat;
    color: midnightblue;
}

:root {
    --border: 1px solid red;
    --couleurContainerSecondaire: rgb(248, 227, 227);

}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 30px;
    width: 80%;
    text-align: center;
    background: linear-gradient(45deg, rgba(248, 227, 227, 0.9), rgba(25, 25, 112, 0.9));
    border:var(--border);
    border-radius: 15px;
}

.containerSecondaire {
    margin: auto;
    padding: 10px 20px;
    background: rgb(248, 227, 227);
    border: var(--border);
    border-radius: 10px;
}

#bienvenue {
    margin: 50px;
    padding: 30px;
    font-size: 2em;
    font-weight: bold;
}

#formulaire {
    margin: 50px;
    padding: 30px;
    font-size: 1.5em;;
}

#prenomUtilisateur {
    margin: 40px 20px;
    font-size: 24px;
    background: whitesmoke;
}

#validerPrenom {
    font-size: 1em;
}

.bouton {
    padding: 10px 15px;
    border-radius: 10px;
    border: var(--border);
    font-weight: bold;
    background: var(--couleurContainerSecondaire);
    color: midnightblue;
}

.hover:hover, #recommencer:hover {
    cursor: pointer;
    color: red;
}


#motCachePendu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#motCache {
    flex-grow: 1;
    text-align: center;
}

/* Lettres cachées */
.transparent{
    display: inline-block;
    text-align: center;
    color: transparent;
    user-select: none;
    border-bottom: 2px solid midnightblue;
    margin: 15px;
    width: 20px;
    font-size: 3em;
}

/* Divs cachés */
.hidden {
    display: none;
}


#pendu img{
    height: 200px;
    border: var(--border);
    border-radius: 5px;
}


#inputSaisies {
    flex-grow: 0.7;
}

.inputSaisiesFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.saisir, .saisies {
    padding: 5px;
}

#erreurSaisie {
    color:red;
}

#changerMot {
    flex-basis: 180px;
}

.saisiesTentativesChanger {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-top: 20px;
    gap: 20px;
}

#containerSaisies {
    text-align: left;
    width: fit-content;
}

#regles {
    padding: 20px;
    text-align: justify;
    font-size: 1.5em;
    display: none;
    overflow: hidden;
}

#toggleSaisies {
    display: flex;
    justify-content: center;
    align-items: space-between;
}

#saisies {
    flex-grow: 1;
}

.toggleRegles {
    margin: 20px;
    width: 150px;
}

#finRegles {
    display: none;
    margin: 30px auto;
    font-size: 1.3em;
}


.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10%;
    left: 5%;
    width: 90vw;
    height: 80vh;
    background: linear-gradient(45deg, var(--couleurContainerSecondaire), midnightblue);
    border:var(--border);
    border-radius: 15px;
}

#textePopup{
    padding: 20px;
    border: var(--border);
    border-radius: 10px;
    background: var(--couleurContainerSecondaire);
    font-size: 2em;
    font-weight: bold;
}

#boutonRecommencer, #textePopup, #popup img {
    display: block;
    margin: 20px;
}

